ADMIN_USERNAME=your_admin_name
ADMIN_PASSWORD=sha256_hash_of_password
MAINTAINER_PASSWORD=your_password_here
TURSO_DATABASE_URL=turso_url
TURSO_AUTH_TOKEN=auth_token
PORT=your_port
SUPABASE_URL=your_supabase_prefix_url
FOLDER=folder_name
LOGO_URL=your_company_logo
REDIS_URL=your_redis_url
